*{
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(135deg, #153677, #4e085f);
}

.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}